*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#announcement__text{
    display: flex;
    justify-content: center;
    background-color: #f4ddc3;
    padding: 5px 20px 4px;
    font-size: 14px;
    transition: opacity 0.75s ease;
    text-align: center; 
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 16px ;
}

.nav-items{
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
}

.nav-items a{
    font-size: 20px;
    color: rgb(17, 17, 17);
    text-decoration: none;
    margin: 8px 14px;
    padding: 4px;
}

.site-header__logo{
    line-height: 1.5;
}

.site-header__logo span {
    font-size: 16px;
    border: 2px solid black;
    padding: 4px;
    font-weight: bold;
}

.side_menus{
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
    padding: 10px;
}

.banner{
    height: 650px;
    width: 100%;
    background-image: url(https://coppercowcoffee.com/cdn/shop/files/CCC-Web-Hero-Debbie.jpg?v=1672955633&width=2400);
    object-fit: cover;
    background-position: left;
}

.banner h1{
    color: #ffffff;
    
}

@media only screen and (min-width: 590px) {
    #announcement__text {
        padding: 6px 20px 5px;
        font-size: 16px;
    }
}