*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#announcement__text{
    display: flex;
    justify-content: center;
    background-color: #f4ddc3;
    padding: 5px 20px 4px;
    font-size: 14px;
    transition: opacity 0.75s ease;
    text-align: center; 
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 16px ;
}

.nav-items{
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
}

.nav-items a{
    font-size: 20px;
    color: rgb(17, 17, 17);
    text-decoration: none;
    margin: 8px 14px;
    padding: 4px;
}

.site-header__logo{
    line-height: 1.5;
}

.site-header__logo span {
    font-size: 16px;
    border: 2px solid black;
    padding: 4px;
    font-weight: bold;
}

.side_menus{
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
    padding: 10px;
}

.banner{
    height: 650px;
    width: 100%;
    position: relative;
}

.gradient{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, black, transparent);
    position: absolute;
    opacity: 0.6;
    top: 0;
    left: 0;
}

.banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.banner h1{
    font-weight: bolder;
    font-size: 60px;
    color: #ffffff;
    position: absolute;
    top: 60%;
    z-index: 10;
    padding: 2rem 4rem;
}

.banner h1 span{
    display: block;
}

.properties{
    padding-top: 2rem;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 12rem 2rem 12rem;
}

.box{
    height: 10%;
    width: 40%;
}

.box span{
    display: block;
    font-size: 18px ;
}

.box #heading{
    font-size: 40px;
    font-weight: bold;
    color: #266041;
}

.boxImg{
    height: 10%;
    width: 60%;
}

.boxImg img{
    height: 100%;
    width: 100%;
}

.press #heading{
    font-size: 40px;
    font-weight: bold;
    color: #266041;
    text-align: center;
}

.press div{
    padding: 2rem 16rem; 
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.press div span{
    font-size: 32px;
    font-weight: bold;
    color: rgb(97, 124, 97);
}

.whatWeAreSipping #heading{
    font-size: 40px;
    font-weight: bold;
    color: #266041;
    text-align: center;
}

.whatWeAreSipping .cards{
    padding: 1rem 8rem; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 400px;
}

.card img{
    height: 60%;
    width: 100%;
}

.card .info{
    padding: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card button{
    padding: 1rem 4rem;
    width: 100%;
    background-color: #266041;
    color: white;
    font-weight: bold;
    border-radius: 40px;
    border: 1px solid #266041;
}

.sustainablySourced{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 12rem 2rem 12rem;
}

.sustainablySourced #heading{
    font-size: 40px;
    font-weight: bold;
    color: #266041;
}

.footer{
    background-color: #266041;
    color: white;
    margin-bottom: 2rem;
    padding: 4rem 0 8rem 0;
    display: flex;
    justify-content: space-evenly;
}

.footer li{
    list-style: none;
    padding: 0.5rem 0;
}

.footer li input{
    border: 1px solid white;
    border-radius: 4px;
    background-color: transparent;
    padding: 1rem 1rem;
    width: 70%;
}

.footer li input::placeholder{
    color: white;
}

.footer li button{
    border: 1px solid white;
    border-radius: 4px;
    background-color: transparent;
    padding: 0.5rem 0.5rem;
    width: 30%;
    color: white;
}

@media only screen and (min-width: 590px) {
    #announcement__text {
        padding: 6px 20px 5px;
        font-size: 16px;
    }
}